.titleText {
	text-align:center;
	font-family:Slackey, cursive;
	color:#26ade4;
	padding:50px;
}

.logoText {
	font-size:30px;
}

.logo {
	font-size:50px;
	padding:20px;
}

.instruction {
	font-size:30px;
	font-family:Slackey, cursive;
	text-align:center;
	padding:70px;
}

.avatar-outer {
	width:80px;
	height:80px;
}

.avatar-preview:hover {
	-webkit-transform:scale(1.3);
}

.avatars {
	text-align:center;
}