.introText {
color:#26ade4;
font-family:Slackey, cursive;
font-size:20px;
position:absolute;
background-color:#fff;
border:5px solid #26ade4;
padding:5px;
}

.board {
width:800px;
position:relative;
margin:0 auto;
}

.map {
width:100%;
}

.avatar {
position:absolute;
transition:all 1s linear;
margin-top:-89px;
margin-left:-39px;
border:3px solid #6097f0;
border-radius:5px;
box-shadow:0 -3px 6px #fff;
}

.avatar>img {
vertical-align:top;
}

.avatar>.arrow {
width:0;
height:0;
border-left:10px solid transparent;
border-right:10px solid transparent;
border-top:10px solid #6097f0;
position:absolute;
bottom:-13px;
left:27px;
}