$header: #6097F0;
$fontcolor: #F2F5FF;	

body {
}

.intro {
	background-color: #6097F0;
	padding: 30px;
}

.introText {
	text-align: center;
	color: $fontcolor;
	font-family: sans-serif;
}

.button {
	
}

.header {
	position: absolute;
}

.logo {
	max-width: 150px;
	max-height: 150px;
}

.board {
	max-width: 800px;
	max-height: 750px;
	margin: 0 auto;
	position:relative;
}

.map {
	width:100%;
}

.avatar {
	position: absolute;
	transition: all 0.7s ease-in;
	margin-top: -89px;
	margin-left: -39px;
	border: 3px solid $header;
	border-radius: 5px;
	box-shadow: 0px -3px 6px #fff;
	img {
		vertical-align: top;
	}
    & > .arrow {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $header;
		position: absolute;
		bottom: -13px;
		left: 27px;
	}
}


