/* line 7, main.scss */
.intro {
  background-color: #6097F0;
  padding: 30px;
}

/* line 12, main.scss */
.introText {
  text-align: center;
  color: #6097f0;
  font-family: sans-serif;
}

/* line 18, main.scss */
.header {
  position: absolute;
}

/* line 22, main.scss */
.board {
  max-width: 800px;
  max-height: 750px;
  margin: 0 auto;
  position: relative;
}

/* line 29, main.scss */
.map {
  width: 100%;
}

/* line 33, main.scss */
.avatar {
  position: absolute;
  transition: all 0.7s ease-in;
}
