$header: #6097F0;
$fontcolor: #F2F5FF;	

body {
}

.intro {
	background-color: #6097F0;
	padding: 30px;
}

.introText {
	text-align: center;
	color: $fontcolor;
	font-family: sans-serif;
}

.button {
	
}

.header {
	position: absolute;
}

.logo {
	max-width: 150px;
	max-height: 150px;
}

.board {
	max-width: 800px;
	max-height: 750px;
	margin: 0 auto;
	position:relative;
}

.map {
	width:100%;
}

.avatar {
	position: absolute;
	transition: all 0.7s ease-in;
}